.tableContainer {
  margin: 10px;
}
table {
  width: 100%;
  padding: 5px;
}

table,
td,
th {
  border-bottom: 1px solid #e0dada;
  border-collapse: collapse;
  text-align: center;
  vertical-align: top;
}
td {
  width: 20%;
}

.active {
  background-color: white;
}
